{
  "presets": [
    [
      "@babel/preset-env",
      {
        "debug": true,
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ],
    ["@babel/typescript", { "jsxPragma": "h" }],
    ["@babel/preset-react", {"pragma":  "h"}]
  ]
}
