.as-multipleFilter
  &__top
    padding: 0 .4rem .4rem
    margin-bottom: .4rem
    border-bottom: .2rem solid #dedede
    color: #a4a4a4
    text-transform: uppercase
    letter-spacing: .1rem

  &__itemsList


  &__item
    padding: .4rem .4rem .4rem 0

